.timmer{
    display: flex;
    justify-content: center;
   
}
.imgg{
    display: flex;
    justify-content: center;
}
body{
    background-image: url("https://i.pinimg.com/originals/27/dc/16/27dc16095583921ee36a2ea0fb5f3090.gif");
    
    background-size: cover;
}
#btn{
    background-color: black;
    color: orangered;
    border-top: 2px solid palevioletred;
    border-right: 2px solid orangered;
    border-bottom: 2px solid yellow;
    border-left: 2px solid green;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
}
#btn2{
    background-color: black;
    color: orangered;
    border-top: 2px solid palevioletred;
    border-right: 2px solid orangered;
    border-bottom: 2px solid yellow;
    border-left: 2px solid green;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700px;
    cursor: pointer;
}
#result{
    color: white;
}
.parent{
    border-top: 2px solid palevioletred;
    border-right: 2px solid orangered;
    border-bottom: 2px solid yellow;
    border-left: 2px solid green;
    margin: 10px;
    margin-bottom: 0;
    padding: px;
    color: white;
    font-size: 20px;
    background-color: black;
}
.date-parent{
    display: flex;
    justify-content: center;
}